services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    volumes:
      - ./:/var/www/html
    depends_on:
      - db
    environment:
      - PHP_OPCACHE_VALIDATE_TIMESTAMPS=1
    command: sh -c "php-fpm"

  web:
    image: nginx:1.27-alpine
    ports:
      - "80:80"
    volumes:
      - ./:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app

  db:
    image: mysql:8.0
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: kitchen
      MYSQL_USER: kitchen
      MYSQL_PASSWORD: kitchen
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3307:3306"
    volumes:
      - dbdata:/var/lib/mysql

  scheduler:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    command: sh -c "php artisan schedule:work"
    volumes:
      - ./:/var/www/html
    depends_on:
      - db

  queue:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    command: sh -c "php artisan queue:work --verbose --tries=3 --timeout=90"
    volumes:
      - ./:/var/www/html
    depends_on:
      - db

volumes:
  dbdata:
